@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans Korean";
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 300;
}
